<?xml version="1.0"?>
<config>
    <modules>
        <Tealium_Tags>
            <version>0.0.1</version>
        </Tealium_Tags>
    </modules>
    <global>
        <models>
            <tealium_tags>
                <class>Observerexample_Model</class>
            </tealium_tags>
        </models>
        <events>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <Tealium_Tags_model_observer>
                        <type>singleton</type>
                        <class>Tealium_Tags_Model_Observer</class>
                        <method>example</method>
                    </Tealium_Tags_model_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>
    </global>
</config>